<h1>Enter new link here bitchaz</h1>

<form action='/links' method='post'>
  URL: <input type='url' name='url_name'>
  Title: <input type='text' name='title'>
  <input type='submit' value='Submit'>
</form>
